.tickets
  margin-left: 4px
  //flex-grow: 1
  width: calc(100% - 210px)
  margin-left: 210px
  &__wrapper-btn
    display: flex
    justify-content: space-between
    width: 100%
  &__button
    background-color: #FF6F32
    color: #ffffff
    height: 40px
    border-radius: 10px
    font-size: 13px
    border: none
    cursor: pointer
    transition: opacity 0.5s linear
  &__button:hover
    opacity: 0.9
